@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* nav styles */

nav {

    /* padding: 1rem 10rem;
    width: 100vw; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 10vh;
    background: #36517e;
    padding: 0 20px;
}

nav .logo {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
    letter-spacing: 3;
    text-transform: uppercase;
    text-decoration: none;
}

ul.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 50%;
    margin-left: auto;

}

ul li {
    /* margin: 0 2vw; */
    font-size: 1rem;
}

li a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    /* padding: 0 20px; */
}

li a:hover {
    color: #4677b0;
    transition: all ease-in-out 0.9s;
}

li .active {
    color: #4677b0 !important;
    font-weight: 500;
}


/* end nav styles */

/* hero styles */

div#hero {
    padding: 1rem 8rem;
    background: #36517e;
    height: 70vh;
}

div.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h2 {
    color: #fff;
    font-size: 3.8rem;
    font-family: 'Jost', sans-serif;
}

.left p {
    color: #fff;
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.5;
    padding-top: 3px;
}

div.hero-content-btn {
   margin-top: 50px;
}

.hero-content-btn button {
    border: none;
    border-radius: 20px;
    background: #47b3e4;
    padding: 14px;
    outline: none;
    width: 150px;

}

.about-content .fa-greater-than{
    font-size: 0.6rem;
    color: #47b3e4;
    margin-right: 10px;
}

button a {
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-family: 900;
    text-decoration: none;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 500px;
    height: auto;
}

  
  

/* end hero styles */

div#about,
div#team,
div#newsletter {
    padding: 1rem 10rem;
    background: #fff;
}

div.about-heading,
div.service-heading,
div.team-heading,
div.contact-heading,
div.newsletter-heading {
    text-align: center;
    position: relative;
    margin: 40px 0;

}

.about-heading h2,
.service-heading h2,
.team-heading h2,
.contact-heading h2 {
    color: #36517e;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.about-heading .line {
    position: absolute;
    width: 175px;
    height: 1px;
    top: 98%;
    left: 43%;
    background: #36517e;
}

.about-content {
    display: flex;
    justify-content: space-around;
}

.about-content p {
    color: 	#696969;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3;
    line-height: 1.5;
}

.about-content-left {
    padding-right: 10px;
}

ul {
    margin-top: 15px;
}

ul li {
    color:#696969;
    list-style-type: none;
    margin: 0;
    padding-bottom: 8px;
    font-size: 0.9rem;
}

.about-btn {
    margin-top: 20px;
}

.about-btn button {
    background: none;
    border: 2px solid  #47b3e4;
    width: 150px;
    height: 40px;
}

.about-btn button a {
    color: #47b3e4;
    font-weight: 500;
}


div#service,
div#contact,
div#footer {
    padding: 1rem 10rem;
    background: #f4f5fa;
}

.service-heading p,
.team-heading p,
.contact-heading p,
.newsletter-heading p {
    color: 	#696969;
    text-transform: none;
}

.service-card-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

div.card1 {
    width: 280px;
    height: 320px;
    background: #fff;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

.card1 h3 {
    color: #36517e;
    font-size: 1.5rem;
    text-align: center;
    padding: 30px 10px 10px 10px;
    font-family: 'Jost', sans-serif;;
}

div.card1 p{
    color: 	#696969;
    font-size: 0.9rem;
    text-transform: none;
    padding-top: 10px;
    letter-spacing: 0.8;
}

div.card1 .fa-code,
div.card1 .fa-palette,
div.card1 .fa-video-slash,
div.card1 .fa-database{
    padding-top: 25px;
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    color: #47b3e4;
}

.contact-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.contact-card .box{
    display: flex;
    margin: 50px;
    
}

.box h4 {
    font-size: 1.4rem;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
    color: #36517e;
    padding-bottom: 10px;

}

.box p {
    color: #47b3e4;
    font-size: 0.9rem;
}

.contact-card .fa-map-marker-alt,
.contact-card .fa-envelope,
.contact-card .fa-phone-alt {
    width: 45px;
    height: 45px;
    color: #47b3e4;
    background: #e7f4fa;
    padding: 13px;
    border-radius: 50%;
    margin-right: 20px;
}

.newsletter-heading h2  {
    color: #36517e;
    font-size: 1.4rem;
    font-weight: 900;
    padding: 15px 0;

}

div.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input[type="email"]{
    text-align: left;
    border-radius: 25px;
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    background: hsl(0, 0%, 100%);
    padding: 8px;
    margin: 0;
}

form input[type="email"]::placeholder {
    color: gray;
    font-size: 0.9rem;
    font-family: 'Jost', sans-serif;
}

form button {
    color: #fff;
    background: #47b3e4;
    height: 40px;
    width: 110px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    margin: 0;
}

form input:invalid {
    border: 2px solid red;
}

form input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

form input:valid {
    border: 2px solid #47b3e4;
}

div.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}

div.footer-content .text {
    color: #36517e;
    font-size: 1.75rem;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
    letter-spacing: 3;
    text-transform: uppercase;
}

div.footer-content h2 {
    color: #36517e;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
    padding-bottom: 3px;
}

.column1 .address p{
    color: #696969;
    font-size: 0.9rem;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.column1 div p:first-child {
    font-size: 0.8rem;
    padding-top: 20px;
}

.column1 div p:nth-child(2) {
    font-size: 0.8rem;    
    padding-top: 5px;
}

.column1 div b,
.column1 div b {
    padding-right: 7px;
}

.column1 div span {
    color: #47b3e4;
}

.column1 ul {
    list-style-type: none;
}

.column1 ul li {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.column1 ul li a{
    color: #696969 !important;
    font-size: 0.9rem;
    padding: 0 10px;
}

.column1 .fa-greater-than {
    font-size: 0.6rem;
    color: #47b3e4;
}

.column1 div p {
    color: #696969 !important;
    font-size: 1rem;
}

.column1  .social {
    display: flex;
    align-items: center;    
    margin-top: 10px;
}

.column1 .fa-twitter,
.column1 .fa-facebook,
.column1 .fa-whatsapp,
.column1 .fa-linkedin {
    font-size: 1.9rem;
    color: #fff !important;
    padding: 10px;
    width: 35px;
    height: 35px;
    background: #47b3e4 ;
    border-radius: 50%;
}

.column1 .fa-twitter,
.column1 .fa-facebook,
.column1 .fa-whatsapp {
    margin-right: 5px;

}


@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 5px;
    }

    nav  {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    ul.nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background: #4677b0;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    ul.nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    ul.nav-links li a {
        font-size: 20px;

    }

    ul.nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    ul.nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    ul.nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    ul.nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    ul.nav-links li:nth-child(5) {
        transition: all 0.5s ease 1s;
    }

    ul.nav-links li.fade {
        opacity: 1;
    }
    

    div.hero-content,
    .about-content,
    .service-card-content,
    .contact-card,
    div.footer-content   {
       flex-direction: column;
    }
    


}