@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    width: 100vw;
    height: 10vh;
    background: #36517e;
}

nav .logo {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
    letter-spacing: 3;
    text-transform: uppercase;
    text-decoration: none;
}

ul.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 2vw;
    list-style: none;
    font-size: 1rem;
}

li a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 0 20px;
}

li a:hover {
    color: #4677b0;
    transition: all ease-in-out 0.9s;
}

li .active {
    color: #4677b0 !important;
    font-weight: 500;
}


/* end nav styles */

/* hero styles */

div#hero {
    padding: 1rem 8rem;
    background: #36517e;
    height: 70vh;
}

div.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h2 {
    color: #fff;
    font-size: 3.8rem;
    font-family: 'Jost', sans-serif;
}

.left p {
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1;
    padding-top: 3px;
}

div.hero-content-btn {
   margin-top: 50px;
}

.hero-content-btn button {
    border: none;
    border-radius: 20px;
    background: #47b3e4;
    padding: 14px;
    outline: none;
    width: 150px;

}

button a {
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-family: 900;
    text-decoration: none;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 800px;
    height: auto;
}

/* end hero styles */

div#about,
div#team,
div#newsletter {
    padding: 1rem 10rem;
    background: #fff;
}
div.about-heading,
div.service-heading,
div.team-heading,
div.contact-heading,
div.newsletter-heading {
    text-align: center;
    position: relative;
    margin: 40px 0;

}

.about-heading h2,
.service-heading h2,
.team-heading h2,
.contact-heading h2 {
    color: #36517e;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.about-heading .line {
    position: absolute;
    width: 175px;
    height: 1px;
    top: 98%;
    left: 43%;
    background: #36517e;
}

.about-content {
    display: flex;
    justify-content: space-around;
}

.about-content p {
    color: 	#696969;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9;
    line-height: 1.4;
}

.about-content-left {
    padding-right: 10px;
}

ul {
    margin-top: 15px;
}

ul li {
    color:#696969;
    list-style-type: none;
    margin: 0;
    padding-bottom: 8px;
}

.about-btn {
    margin-top: 20px;
}

.about-btn button {
    background: none;
    border: 2px solid  #47b3e4;
    width: 150px;
    height: 40px;
}

.about-btn button a {
    color: #47b3e4;
    font-weight: 500;
}


div#service,
div#contact,
div#footer {
    padding: 1rem 10rem;
    background: #f4f5fa;
}

.service-heading p,
.team-heading p,
.contact-heading p,
.newsletter-heading p {
    color: 	#696969;
    text-transform: none;
}

.service-card-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

div.card1 {
    width: 280px;
    height: 320px;
    background: #fff;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

.card1 h3 {
    color: #36517e;
    font-size: 1.5rem;
    text-align: center;
    padding: 30px 10px 10px 10px;
    font-family: 'Jost', sans-serif;;
}

div.card1 p{
    color: 	#696969;
    font-size: 0.9rem;
    text-transform: none;
    padding-top: 10px;
    letter-spacing: 0.8;
}

div.card1 .fa-code,
div.card1 .fa-palette,
div.card1 .fa-video-slash,
div.card1 .fa-database{
    padding-top: 25px;
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    color: #47b3e4;
}

.contact-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.contact-card .box{
    display: flex;
    margin: 50px;
    
}

.box h4 {
    font-size: 1.4rem;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
    color: #36517e;
    padding-bottom: 10px;

}

.box p {
    color: #47b3e4;
    font-size: 0.9rem;
}

.contact-card .fa-map-marker-alt,
.contact-card .fa-envelope,
.contact-card .fa-phone-alt {
    width: 45px;
    height: 45px;
    color: #47b3e4;
    background: #e7f4fa;
    padding: 13px;
    border-radius: 50%;
    margin-right: 20px;
}

.newsletter-heading h2  {
    color: #36517e;
    font-size: 1.4rem;
    font-weight: 900;
    padding: 15px 0;

}

div.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input[type="email"]{
    text-align: left;
    border-radius: 25px;
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    background: hsl(0, 0%, 100%);
    padding: 8px;
    margin: 0;
}

form input[type="email"]::placeholder {
    color: gray;
    font-size: 0.9rem;
    font-family: 'Jost', sans-serif;
}

form button {
    color: #fff;
    background: #47b3e4;
    height: 40px;
    width: 110px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    margin: 0;
}

form input:invalid {
    border: 2px solid red;
}

form input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

form input:valid {
    border: 2px solid #47b3e4;
}

div.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}

div.footer-content .text {
    color: #36517e;
    font-size: 1.75rem;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
    letter-spacing: 3;
    text-transform: uppercase;
}

div.footer-content h2 {
    color: #36517e;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
}
